/.vscode
/Libraries/AceAddon-3.0
/Libraries/AceBucket-3.0
/Libraries/AceComm-3.0
/Libraries/AceConfig-3.0
/Libraries/AceConsole-3.0
/Libraries/AceDB-3.0
/Libraries/AceDBOptions-3.0
/Libraries/AceEvent-3.0
/Libraries/AceGUI-3.0
/Libraries/AceGUI-3.0-SharedMediaWidgets
/Libraries/AceHook-3.0
/Libraries/AceLocale-3.0
/Libraries/AceSerializer-3.0
/Libraries/AceTab-3.0
/Libraries/AceTimer-3.0
/Libraries/CallbackHandler-1.0
/Libraries/LibAlts-1.0
/Libraries/LibCompress
/Libraries/LibDataBroker-1.1
/Libraries/LibDBIcon-1.0
/Libraries/LibPetJournal-2.0
/Libraries/LibSharedMedia-3.0
/Libraries/LibSink-2.0
/Libraries/LibStub